.stage {
  width: 480px;
  height: 500px;
  margin: 10px auto;
  position: relative;
  perspective: 1600px; }

.cube {
  transform-style: preserve-3d;
  transform-origin: 100px 50%;
  position: absolute;
  top: 120px;
  left: 140px;
  animation: rotate 10s infinite linear; }
  .cube span {
    color: #fff;
    display: block;
    font-size: 100px;
    height: 200px;
    line-height: 200px;
    opacity: .5;
    position: absolute;
    text-align: center;
    width: 200px; }
  .cube .back {
    background-color: #f00;
    transform: rotateY(180deg) translateZ(100px); }
  .cube .top {
    background-color: #ff7400;
    transform: rotateX(90deg) translateZ(100px); }
  .cube .bottom {
    background-color: #aaa;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.7);
    transform: rotateX(-90deg) translateZ(100px); }
  .cube .left {
    background-color: #099;
    transform: rotateY(-90deg) translateZ(100px); }
  .cube .right {
    background-color: #0c0;
    transform: rotateY(90deg) translateZ(100px); }
  .cube .front {
    background-color: #ff0;
    transform: translateZ(100px); }

.container {
  margin: 0 auto;
  width: 960px; }

.left, .right {
  height: 100%;
  overflow: hidden;
  width: 50%; }

.left {
  float: left; }
  .left .stage {
    perspective-origin: 63.5% -340px; }

.right {
  float: right; }
  .right .stage {
    perspective-origin: 36.5% -340px; }

@keyframes rotate {
  from {
    transform: rotateY(0deg); }

  to {
    transform: rotateY(360deg); } }
